<!--The content below is only a placeholder and can be replaced.-->
Welcome to {{title}}!

<p> Lista de animales </p>

<ul>
  <li *ngFor="let animal of animalesList">
    {{animal.name}} - {{animal.describir()}}
  </li>
</ul>


